#login-form {
  text-align: center;
}

#booking-form {
  display: inline;
  float: left;
}

label {
  display: block;
  text-transform: uppercase;
}

.error {
  color: red;
}

.text-field,
.select-field {
  margin: 1rem;
}

select {
  padding: 1rem;
  background-color: white;
  border: 0.05rem solid rgba(0, 0, 0, 0.4);
  height: 3rem;
}

.btn-center {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.btn-right {
  float: right;
  margin: 0 auto;
  font-size: 1.25rem
}

#header {
  background-color: black;
  margin: 2rem 0 2rem 0;
}

#header-welcome {
  color: white;
  display: inline;
  margin: 3rem 1rem 3rem 1rem;
}

#bookedclasses-container {
  width: 70%;
  justify-content: center;
  text-align: center;
  display: flex;
  margin-left:auto;
  margin-right: auto;
}

.cell {
  border: 0.05rem solid rgba(0, 0, 0, 0.4);
}

#calendar-container {
  width: 70%;
  text-align: center;
  display: inline-flex;
  float: right;
}

.calendar-header {
  padding: 2rem;
  border: 0.05rem solid rgba(0, 0, 0, 0.4);
}

a, .class-booked {
  font-size: 1.15rem;
  text-decoration: none
}